<% if @user.growing_things[0].nil?  %>
  <div id="buttonrow" class="row">
    <div class="col-sm-4">
     </div>

    <div class="col-sm-4">
      <a href="<%= new_growing_thing_path %>" class="btn btn-primary">Create New Growing Thing</a>
    </div>
  </div>
<% else %>

  <p id="user-page-growing-things-heading"> My Growing Things: </p>
  <div class="panel-group" id="accordion">

    <% @user.growing_things.each_with_index do |growing_thing, index| %>

   <div class="panel panel-default">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index %>">
           <%= link_to growing_thing.name, edit_growing_thing_path(growing_thing) %>
         </a>
       </h4>
     </div>
     <div id="collapse<%= index %>" class="panel-collapse collapse">
       <div class="panel-body">
         <a id="edit-button" href='<%= edit_growing_thing_path(growing_thing) %>'><span class='glyphicon glyphicon-cog'></span></a>
         <%= render partial: "growing_things/calendar", locals: {growing_thing: growing_thing} %>
       </div>
     </div>
   </div>
   </div>
   <% end %>
  </div>
<% end %>
